# Supabase - för leaderboard
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Centralbank API - för transaktioner och utbetalningar
VITE_CENTRALBANK_URL=
VITE_CENTRALBANK_API_KEY=

# Tivoli - för omdirigering vid utgången token
VITE_TIVOLI_URL=VITE_TIVOLI_URL=
