.overContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.leaderboardH,
.overContainer h1 {
  color: var(--yrgoRed);
  font-size: 5rem;
}

.statsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 500px;
  background-color: var(--boxBackground); 
  border-radius: 8px;
  box-shadow: inset 0 0 4px 3px rgba(0, 0, 0, 0.25);
  padding: 2rem 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.scoreSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.levelSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.rewardPanel {
  width: 50%;
  max-width: 520px;
  background-color: var(--boxBackground);
  border-radius: 12px;
  box-shadow: inset 0 0 6px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.panelHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  align-items: center;
}


.rewardContent {
  background-color: #ffeeaa;
  border-radius: 8px;
  min-height: 120px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.statLabel {
  font-weight: bold;
  font-size: 1.2rem;
}

.statValue {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.rewardContent {
  background-color: #ebc438;
  border-radius: 8px;
  padding: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: var(--boxBackground);
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 520px;

  box-shadow: inset 0 0 6px 4px rgba(0, 0, 0, 0.25);
}

.statsRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statLabel {
  font-size: 2.2rem;
  font-weight: bold;
  color: black;
  -webkit-text-stroke: 0;
  letter-spacing: 2px;
}

.statValue {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0.3rem;
  color: black;
  -webkit-text-stroke: 0;
  letter-spacing: 2px;
}

.rewardBox {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  padding: 0.5rem;
  box-shadow: inset 0 0 4px 3px rgba(0, 0, 0, 0.15);
}

.rewardBox p {
  margin: 0;
}

.rewardTitle {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  color: black;
  -webkit-text-stroke: 0;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}


.infoBoxes {
  max-width: 80%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.leaderboardH {
  -webkit-text-stroke: 4px black;
  paint-order: stroke fill;
}

.box h3 {
  margin: 0.5rem;
}

.playBtn {
  background-color: #7ed267;
  padding: 0 2rem;
}

.rewardBtn {
  background-color: var(--yrgoRed);
  color: #ffee00;
  /* min-width: 170px; */
}

.tivoliBtn {
  background-color: #7fb0c7;
  /* min-width: 170px; */
}

.infoButtons {
  margin-bottom: 1rem;
}

.stamp {
  width: 30%;
}

@media (min-width: 768px) {
  .infoBoxes {
    display: flex;
    gap: 4rem;
  }

  .box {
    width: 30vw;
  }

  .overContainer h1 {
    font-size: 15rem;
    margin-top: 0.5rem;
  }

  .overContainer h2 {
    margin-top: -3rem;
  }
}
