.idleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.yrgo {
  color: var(--yrgoRed);
}

.infoBoxes {
  max-width: 80%;
  /* margin-top: 1.5rem;
  margin-bottom: 1rem; */
}

.box h3 {
  margin: 0.5rem;
}

.playBtn {
  background-color: #7ED267;
  padding: 0 2rem;
  transition: all 0.2s ease;
}

.playBtn:focus-visible {
  outline: 4px solid var(--focusColor);
  outline-offset: 2px;
}

.playBtn:hover {
  transform: scale(1.05);
}

.rewardBtn {
  background-color: var(--yrgoRed);
  color: #FFEE00;
  transition: all 0.2s ease;
}

.rewardBtn:focus-visible {
  outline: 4px solid var(--focusColor);
  outline-offset: 2px;
}

.rewardBtn:hover {
  transform: scale(1.05);
}

.tivoliBtn {
  background-color: #7FB0C7;
  transition: all 0.2s ease;
}

.tivoliBtn:focus-visible {
  outline: 4px solid var(--focusColor);
  outline-offset: 2px;
}

.tivoliBtn:hover {
  transform: scale(1.05);
}

.infoButtons {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .infoBoxes {
    display: flex;
    gap: 4rem;
  }

  .box {
    width: 30vw;
  }

.idleContainer h1 {
    font-size: 15rem;
    margin-top: 0.5rem;
  }

.idleContainer h2 {
  margin-top: -3rem;
}
}

@media (max-width: 1000px) { 
  .infoBoxes {
    gap: 0;
  }
}