.idleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.yrgo, .leaderboardH {
  color: var(--yrgoRed);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: var(--boxBackground);
  border-radius: 8px;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
  font-size: 1.25rem;
}

.infoBoxes {
  max-width: 80%;
}

.leaderboardH {
  -webkit-text-stroke: 4px black;
  paint-order: stroke fill;
}

.box p {
  max-width: 90%;
}

h3 {
  margin: 0.5rem;
}

.playBtn {
  background-color: #7ED267;
}

.rewardBtn {
  background-color: var(--yrgoRed);
  color: #FFEE00;
}

.tivoliBtn {
  background-color: #7FB0C7;
}


@media (min-width: 768px) {
  .infoBoxes {
    display: flex;
    gap: 4rem;
  }

  .box {
    width: 30vw;
  }

  h1 {
    font-size: 15rem;
    margin-top: 1rem;
  }
}