.idleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.yrgo, .leaderboardH {
  color: var(--yrgoRed);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: var(--boxBackground);
  border-radius: 8px;
  box-shadow: inset 0 0 4px 3px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

.infoBoxes {
  max-width: 80%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.leaderboardH {
  -webkit-text-stroke: 4px black;
  paint-order: stroke fill;
}

h3 {
  margin: 0.5rem;
}

.playBtn {
  background-color: #7ED267;
  padding: 0 2rem;
}

.rewardBtn {
  background-color: var(--yrgoRed);
  color: #FFEE00;
  /* min-width: 170px; */
}

.tivoliBtn {
  background-color: #7FB0C7;
  /* min-width: 170px; */
}

.infoButtons {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .infoBoxes {
    display: flex;
    gap: 4rem;
  }

  .box {
    width: 30vw;
  }

h1 {
    font-size: 15rem;
    margin-top: 0.5rem;
  }

h2 {
  margin-top: -3rem;
}
}