:root {
  --headerfont: "Jersey 10", sans-serif


}




body {
  margin: 0;
}

h1, h2{
  font-family: var(--headerfont);
}

h1 {
  font-size: 6rem;
  margin-bottom: 0;
}

h2 {
  font-size: 4rem;
    margin-top: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: 20px auto;
}

button {
  height: 80px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}