:root {
  --headerFont: "Jersey 10", sans-serif;
  --textLight: #ffffff;


}




body {
  margin: 0;
  background-image: url("/src/assets/BrickBg.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat:repeat;
  background-attachment: fixed;
  letter-spacing: 5px;
}

h1, h2{
  font-family: var(--headerFont);
  color: var(--textLight);
}

h1 {
  font-size: 6rem;
  margin-bottom: 0;
}

h2 {
  font-size: 4rem;
    margin-top: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: 20px auto;
}

button {
  height: 80px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}